# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# User-specific files
*.suo
*.user
*.sln.docstates

# Visual Studio 2015 cache/options directory
.vs/
.vscode/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
bld/
[Bb]in/
[Oo]bj/

#ignore thumbnails created by windows
Thumbs.db

#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
*.lib
*.sbr
*.map
*.orig
*.nupkg
*.tmp
bin/
obj/
**/packages/**/*.xml
Binaries/
*.sln.ide/
/White Label Template/Publish/
_Chutzpah.*.html
.vs

#AjaxCommunicationToolkit
!/WHL BO/WHLBO/Bin/AjaxControlToolkit.dll
!/WHL BO/AffiliatesBO/Bin/AjaxControlToolkit.dll

#Do not ignore anything under NuGet packages folder
!**/packages/**/*.dll
#Ignore XML files under NuGet packages folder
**/packages/**/*.xml
**/packages/**/*.XML
#Allow unity dll
!/Admin/BetManager/Unity/Microsoft.Practices.Unity.dll

#Ignore generatedweb.config
src/SBWHLMobileClient/web.config

*.orig
*sln.ide
#Ignore StyleCopReport.xml
StyleCopReport.xml
/White Label Template/TestResults
**/Binaries

#Ignore CI artifacts
!Tools/*
/White Label Template/TestResults
Binaries
jasmine-result**
/Admin/packages

packages/

!Lib/
!Vendor/
!/build/
!/scripts/
